.content{
  // style for content
}
h1 {
  color: aqua;
}
.bi{
  font-size: 30px;
}
p {
  text-align: justify;
}
.contenedor{
  @include media-breakpoint-down(md) {
    display: block;
    .col-completa {
      flex-direction: column;
    }
  }
}
